[submodule "src/dbg/btparser"]
	path = src/dbg/btparser
	url =https://github.com/10010100111000/btparser.git
[submodule "deps"]
	path = deps
	url =https://github.com/10010100111000/deps.git
	shallow = true
